body { 
    background: white; 
    color: black; 
    font-family: "Lucida Grande",Verdana,Lucida,Helvetica,Arial,sans-serif;
}

a:link {color: #333333}
a:visited {color: #555555}
a:hover {color: #111111}

.navi {
    background-color: #eeeeee;
    float: right;
    border: 1px solid #808080;
}

.navi td:hover {
    background-color: #aaaaaa;
}

